<div class="title">
  <h2>{{produto.title}}</h2>
</div>

<div ng-if="produto.msg" class="card center">
  <div class="card-content">
      <h2 class ="msg">{{produto.msg}}</h2>
  </div>
</div>

<div class="row">
  <div class="col s12 m4" ng-repeat="gelinhos in produto.teste">
    <div class="card medium z-depth-4" >
        <div class="card-image">
            <img ng-src="{{gelinhos.imagen}}" class="responsive-img">
            <span class="card-title">{{gelinhos.sabor}}</span>
        </div>
        <div class="card-content">
            <p><h4 class="center">{{gelinhos.tipoGelinho.tipo}}</h4></p>
            <p><h5 class="center">{{gelinhos.valor_uni|currency: 'R$'}}</h5></p>
        </div>
        <div class="card-action">
            <a class="btn" ng-if="gelinhos.valor_uni" ng-href="#/produtos/{{gelinhos.id}}">Comprar</a>
            <div class="right">
                <a class="btn-floating center">+</a>
            </div>

        </div>
    </div>
  </div>
