<div class="title">
  <h2>{{produto.title}}</h2>
</div>

<div ng-if="produto.msg" class="card center">
  <div class="card-content">
      <h2 class ="msg">{{produto.msg}}</h2>
  </div>
</div>

<div class="row">
  <div class="col s12 m4" ng-repeat="produto in produto.produtos">
    <div class="card medium z-depth-4" >
        <div class="card-image">
            <img ng-if = "produto.imagem" ng-src="{{produto.imagem}}" class="responsive-img">
            <img ng-if = "!produto.imagem" src="assests/img/sem-imagem.jpg" class="responsive-img">
            <span class="card-title">{{produto.produto}}</span>
        </div>
        <div class="card-content">
            <p><h4 class="center">{{produto.categoria.categoria}}</h4></p>
            <p><h5 class="center">{{produto.preco|currency: 'R$'}}</h5></p>
        </div>
        <div class="card-action">
            <a class="btn" ng-if="produto.preco" ng-href="#/produtos/{{produto.id}}">Comprar</a>
            <div class="right">
                <a class="btn-floating center">+</a>
            </div>

        </div>
    </div>
  </div>
